.git
.gitignore

**/node_modules
**/dist
**/.DS_Store
**/.idea
**/.vscode

Backend/.env
Backend/vendor
Backend/storage/logs/*
Backend/storage/framework/cache/data/*
Backend/storage/framework/sessions/*
Backend/storage/framework/views/*
